In [1]:
#import dependencies
import os
import csv
import pandas as pd
import numpy as np

In [2]:
#load csv file and create a pandas dataframe from it's data.
PurchaseData_file = "Resources/purchase_data.csv"
PurchaseData_df = pd.read_csv(PurchaseData_file)
PurchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Display total player count

#calculate amount of unique players by using x = len(DataFrame["column_name"])
UniquePlayersCount = len(PurchaseData_df["SN"].unique())
#print(UniquePlayersCount)

# #create a data frame with the amount of unique players listed in a column called "Total Players"
# Data_Table = pd.DataFrame({"Total Players": [UniquePlayersCount]})
# # Data_Table

In [4]:
# Number of Unique Items
UniqueItems = len(PurchaseData_df["Item Name"].unique())
# print("Unique Items : " + str(UniqueItems))


# Total Number of Purchases
AmountOfPurchases = len(PurchaseData_df["Purchase ID"])
# print("AmountOfPurchases : " + str(AmountOfPurchases))

# Total Revenue
TotalRevenue = PurchaseData_df["Price"].sum()
# print("Total Revenue : $" + str(TotalRevenue))

# Average Purchase Price
AveragePurchasePrice = TotalRevenue / AmountOfPurchases
# print("Average Purchase Price : $" + str(AveragePurchasePrice))

#create Financials Data Frame
Financials_df = pd.DataFrame({
    "Number of Unique Items": [UniqueItems],
    "Average Price": [AveragePurchasePrice],
    "Number of Purchases": [AmountOfPurchases],
    "Total Revenue": [TotalRevenue]
    })

#format Average Price and Total Revenue columns
Financials_df["Average Price"] = Financials_df["Average Price"].map("${:.2f}".format)
Financials_df["Total Revenue"] = Financials_df["Total Revenue"].map("${:,.2f}".format)

#display the Financials summary
Financials_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [5]:
#calculate amount of unique players by using x = len(DataFrame["column_name"])
UniquePlayersCount = len(PurchaseData_df["SN"].unique())

#isolate lists of players by gender
MalePlayers = PurchaseData_df.loc[(PurchaseData_df["Gender"] == "Male"), :]
FemalePlayers = PurchaseData_df.loc[(PurchaseData_df["Gender"] == "Female"), :]
OtherPlayers = PurchaseData_df.loc[(PurchaseData_df["Gender"] == "Other / Non-Disclosed"), :]

#isolate lists of unique players by gender
UniqueMalePlayers = MalePlayers["SN"].unique()
UniqueFemalePlayers = FemalePlayers["SN"].unique()
UniqueOtherPlayers = OtherPlayers["SN"].unique()

#populate a dictionary of gender demographic data  
gender_demographic_data = [[len(UniqueMalePlayers), ((int(len(UniqueMalePlayers)) / int(UniquePlayersCount)) * 100)],
        [len(UniqueFemalePlayers), ((int(len(UniqueFemalePlayers)) / int(UniquePlayersCount)) * 100)], 
        [len(UniqueOtherPlayers), ((int(len(UniqueOtherPlayers)) / int(UniquePlayersCount)) * 100)]]

#create a data frame using the gender demographic data dictionary 
GenderDemographics_df = pd.DataFrame(gender_demographic_data, columns = ['Total Count', 'Percentage of Players'], index = ['Male', 'Female', 'Other / Non-Disclosed'])

#set percentage format
GenderDemographics_df["Percentage of Players"] = GenderDemographics_df["Percentage of Players"].map("{:.2f}%".format)

#display the Gender demographic summary
GenderDemographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [29]:
PurchaseData_df.head()

#Find sum of all purchases made by males
Male_df = PurchaseData_df.loc[PurchaseData_df["Gender"] == "Male", :]
MaleSum = Male_df["Price"].sum()

#find sum of all purchases made by females
Female_df = PurchaseData_df.loc[PurchaseData_df["Gender"] == "Female", :]
FemaleSum = Female_df["Price"].sum()

#find sum of all purchases made by other/non-disclosed genders
Other_df = PurchaseData_df.loc[PurchaseData_df["Gender"] == "Other / Non-Disclosed", :]
OtherSum = Other_df["Price"].sum()

#find the average purchase price of purchases made by males.
MaleAverage = MaleSum / len(MalePlayers)
# print(MaleAverage)

#find the average purchase price of purchases made by females
FemaleAverage = FemaleSum / len(FemalePlayers)
# print(FemaleAverage)

#find the average of purchase price of purchases made by other/non-disclosed genders
OtherAverage = OtherSum / len(OtherPlayers)
# print(OtherAverage)

#find the average total purchase price per unique male
UniqueMaleAverage = MaleSum / len(UniqueMalePlayers)

#find the average total purchae price per unique female
UniqueFemaleAverage = FemaleSum / len(UniqueFemalePlayers)

#find the average total purchase price per unique other/non-disclosed gender
UniqueOtherAverage = OtherSum / len(UniqueOtherPlayers)

gender_analysis_data = [['Female', len(FemalePlayers), FemaleAverage, FemaleSum, UniqueFemaleAverage],
                        ['Male', len(MalePlayers), MaleAverage, MaleSum, UniqueMaleAverage],
                        ['Other / Non-Disclosed', len(OtherPlayers), OtherAverage, OtherSum, UniqueOtherAverage]]

GenderAnalysis_df = pd.DataFrame(gender_analysis_data, columns = ['Gender', 'Purchase Count', "Average Purchase Price", 'Total Purchase Value', 'Average Total Purchase Per Person'])

GenderAnalysis_df["Total Purchase Value"] = GenderAnalysis_df["Total Purchase Value"].map("${:.2f}".format)
GenderAnalysis_df["Average Purchase Price"] = GenderAnalysis_df["Average Purchase Price"].map("${:.2f}".format)
GenderAnalysis_df["Average Total Purchase Per Person"] = GenderAnalysis_df["Average Total Purchase Per Person"].map("${:.2f}".format)

GenderAnalysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,$1967.64,$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56