In [58]:
#import dependencies
import os
import csv
import pandas as pd
import numpy as np

In [59]:
#load csv file and create a pandas dataframe from it's data.
PurchaseData_file = "Resources/purchase_data.csv"
PurchaseData_df = pd.read_csv(PurchaseData_file)
PurchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [60]:
#Display total player count

#calculate amount of unique players by using x = len(DataFrame["column_name"])
UniquePlayersCount = len(PurchaseData_df["SN"].unique())
#print(UniquePlayersCount)

#create a data frame with the amount of unique players listed in a column called "Total Players"
Data_Table = pd.DataFrame({"Total Players": [UniquePlayersCount]})
Data_Table

   Total Players
0            576

In [61]:
# Number of Unique Items
UniqueItems = len(PurchaseData_df["Item Name"].unique())
# print("Unique Items : " + str(UniqueItems))


# Total Number of Purchases
AmountOfPurchases = len(PurchaseData_df["Purchase ID"])
# print("AmountOfPurchases : " + str(AmountOfPurchases))

# Total Revenue
TotalRevenue = PurchaseData_df["Price"].sum()
# print("Total Revenue : $" + str(TotalRevenue))

# Average Purchase Price
AveragePurchasePrice = TotalRevenue / AmountOfPurchases
# print("Average Purchase Price : $" + str(AveragePurchasePrice))

#create Financials Data Frame
Financials_df = pd.DataFrame({
    "Number of Unique Items": [UniqueItems],
    "Average Price": [AveragePurchasePrice],
    "Number of Purchases": [AmountOfPurchases],
    "Total Revenue": [TotalRevenue]
    })

#format Average Price and Total Revenue columns
Financials_df["Average Price"] = Financials_df["Average Price"].map("${:.2f}".format)
Financials_df["Total Revenue"] = Financials_df["Total Revenue"].map("${:,.2f}".format)

#display the Financials summary
Financials_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [104]:
#calculate amount of unique players by using x = len(DataFrame["column_name"])
UniquePlayersCount = len(PurchaseData_df["SN"].unique())
UniquePlayers = PurchaseData_df["SN"].unique()

#isolate lists of players by gender
MalePlayers = PurchaseData_df.loc[(PurchaseData_df["Gender"] == "Male"), :]
FemalePlayers = PurchaseData_df.loc[(PurchaseData_df["Gender"] == "Female"), :]
OtherPlayers = PurchaseData_df.loc[(PurchaseData_df["Gender"] == "Other / Non-Disclosed"), :]

#isolate lists of unique players by gender
UniqueMalePlayers = MalePlayers["SN"].unique()
UniqueFemalePlayers = FemalePlayers["SN"].unique()
UniqueOtherPlayers = OtherPlayers["SN"].unique()

print("Unique Male Players : "  + str(len(UniqueMalePlayers)))
print("Unique Female Players :" + str(len(UniqueFemalePlayers)))
print("Unique Other / Non-disclosed Players :" + str(len(UniqueOtherPlayers)))

Unique Male Players : 484
Unique Female Players :81
Unique Other / Non-disclosed Players :11