In [1]:
#import dependencies
import os
import csv
import pandas as pd
import numpy as np

In [2]:
#load csv file and create a pandas dataframe from it's data.
PurchaseData_file = "Resources/purchase_data.csv"
PurchaseData_df = pd.read_csv(PurchaseData_file)

In [3]:

#calculate amount of unique players by using x = len(DataFrame["column_name"])
UniquePlayersCount = len(PurchaseData_df["SN"].unique())
#print(UniquePlayersCount)

# #create a data frame with the amount of unique players listed in a column called "Total Players"
Data_Table = pd.DataFrame({"Total Players": [UniquePlayersCount]})
Data_Table

   Total Players
0            576

In [10]:
# Number of Unique Items
UniqueItems = PurchaseData_df["Item ID"].nunique()

# Total Number of Purchases
AmountOfPurchases = len(PurchaseData_df["Purchase ID"])

# Total Revenue
TotalRevenue = PurchaseData_df["Price"].sum()

# Average Purchase Price
AveragePurchasePrice = TotalRevenue / AmountOfPurchases

#create Financials Data Frame
Financials_df = pd.DataFrame({
    "Number of Unique Items": [UniqueItems],
    "Average Price": [AveragePurchasePrice],
    "Number of Purchases": [AmountOfPurchases],
    "Total Revenue": [TotalRevenue]
    })

#format Average Price and Total Revenue columns
Financials_df["Average Price"] = Financials_df["Average Price"].map("${:.2f}".format)
Financials_df["Total Revenue"] = Financials_df["Total Revenue"].map("${:,.2f}".format)

#display the Financials summary
Financials_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [11]:
#calculate amount of unique players by using x = len(DataFrame["column_name"])
UniquePlayersCount = len(PurchaseData_df["SN"].unique())

#group by Gender
GenderGroup = PurchaseData_df.groupby("Gender")

#get the number of unique Screen Names per Gender
GenderCounts = GenderGroup["SN"].nunique()

#get the percentages of Unique Players by Gender
GenderPercentages = (GenderCounts / UniquePlayersCount) * 100

#create table and populate with GenderCounts and GenderPercentages
GenderTable = pd.DataFrame({"Total Count": GenderCounts, 
                            "Percentage of Players": GenderPercentages
                            })

#format the percentages to read cleaner
GenderTable["Percentage of Players"] = GenderTable["Percentage of Players"].map("{:.2f}%".format)

#sort the table by highest count of players by gender
SortedGenderTable = GenderTable.sort_values("Total Count", ascending=False)

#display the table
SortedGenderTable

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [12]:
#using the grouping from above, find Purchase Count, Total Purchases, Average Price, and Total Per Person
PurchaseCount = GenderGroup["Purchase ID"]
TotalPurchases = GenderGroup["Price"].sum()
AveragePrice = TotalPurchases / PurchaseCount.count()
TotalPerPerson = TotalPurchases / GenderCounts

#create a temp table off of the previous GenderTable above, to convert to a new table after adding and dropping columns
tempTable = GenderTable

#calculate Purchase Count, Average Purchase Price, Total Purchase Value, and Average Total Purchase Per Person
tempTable["Purchase Count"] = PurchaseCount.count()
tempTable["Average Purchase Price"] = AveragePrice
tempTable["Total Purchase Value"] = TotalPurchases
tempTable["Average Total Purchase Per Person"] = TotalPerPerson

#drop unnecessary columsn from temptable and rename
newGenderTable = tempTable.drop(columns=['Total Count', 'Percentage of Players'])

#format the columsn for proper currency format
newGenderTable["Total Purchase Value"] = newGenderTable["Total Purchase Value"].map("${:,.2f}".format)
newGenderTable["Average Purchase Price"] = newGenderTable["Average Purchase Price"].map("${:,.2f}".format)
newGenderTable["Average Total Purchase Per Person"] = newGenderTable["Average Total Purchase Per Person"].map("${:,.2f}".format)

#display table
newGenderTable

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [13]:
#create bins and names for the bins
bins = [-1, 9, 14, 19, 24, 29, 34, 39,  max(PurchaseData_df["Age"])]
groupnames = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#add the age ranges column to the PurchaseData data frame. 
PurchaseData_df["Age Ranges"] = pd.cut(PurchaseData_df["Age"], bins, labels=groupnames)

#group by age
groupedbyage = PurchaseData_df.groupby("Age Ranges")

#find number of unique screen names per gender
AgeCounts = groupedbyage["SN"].nunique()

#calculate percentage of each gender to overall unique players
AgePercentage = (AgeCounts / UniquePlayersCount) * 100

#create table
agetable = pd.DataFrame({"Total Count": AgeCounts,
                         "Percentage of Players": AgePercentage})

#format correct Percentage format
agetable["Percentage of Players"] = agetable["Percentage of Players"].map("{:.2f}%".format)

#display table
agetable

            Total Count Percentage of Players
Age Ranges
>10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [14]:
#using grouping above, find amount of purchases, total amount of purchases, average price, 
#and total purchase price per person for each age range
AgePurchases = groupedbyage["SN"]
TotalPurchases = groupedbyage["Price"].sum()
AveragePrice = (TotalPurchases / AgePurchases.count())
PerPerson = TotalPurchases / AgeCounts

#add values to the table created above
agetable["Purchase Count"] = AgePurchases.count()
agetable["Average Purchase Price"] = AveragePrice
agetable["Total Purchase Value"] = TotalPurchases
agetable["Average Total Purchase Per Person"] = PerPerson

#format columns to correct number formats
agetable["Total Purchase Value"] = agetable["Total Purchase Value"].map("${:,.2f}".format)
agetable["Average Purchase Price"] = agetable["Average Purchase Price"].map("${:,.2f}".format)
agetable["Average Total Purchase Per Person"] = agetable["Average Total Purchase Per Person"].map("${:,.2f}".format)

#create new table to mirror the table used above, and drop unnecessary columns
newagestable = agetable.drop(columns=['Total Count', 'Percentage of Players'])

#display table
newagestable

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Ranges,,,,
>10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [15]:
#group by Screen Name
SNgrouped = PurchaseData_df.groupby("SN")

#create count of purchases by Screen name
SNPurchases = SNgrouped["Purchase ID"].count()

#create sum of Purchases Prices by Scren Name
SNTotalValue = SNgrouped["Price"].sum()

#calculate average price per purchase for each Screen Name
SNAveragePrice = SNTotalValue / SNPurchases

#create Screen Name table
SNTable = pd.DataFrame({"Purchase Count": SNPurchases, 
                        "Average Purchase Price": SNAveragePrice,
                        "Total Purchase Value": SNTotalValue
                        })

#sort by Total Purchase Value
sortedSNTable = SNTable.sort_values("Total Purchase Value", ascending=False)

#format values in proper currency format
sortedSNTable["Average Purchase Price"] = sortedSNTable["Average Purchase Price"].map("${:.2f}".format)
sortedSNTable["Total Purchase Value"] = sortedSNTable["Total Purchase Value"].map("${:.2f}".format)

#display table
sortedSNTable.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [16]:
#group by Item ID and their corresponding Item Names
ItemSort = PurchaseData_df.groupby(["Item ID", "Item Name"])

#find the quantities of each item sold, the price for those items, and the total value of those items sold. 
ItemPurchaseCount = ItemSort["Purchase ID"].count()
ItemPrice = ItemSort["Price"].max()
TotalItemValue = ItemPrice * ItemPurchaseCount

#create Screen Name table
ItemTable = pd.DataFrame({"Purchase Count": ItemPurchaseCount,
                          "Item Price": ItemPrice,
                          "Total Purchase Value": TotalItemValue
                        })
#create new table from the previous table but sort by Purchase Count in descending order.
sortedItemTable = ItemTable.sort_values("Purchase Count", ascending=False)

#format the columsn to proper currency format
sortedItemTable["Item Price"] = sortedItemTable["Item Price"].map("${:.2f}".format)
sortedItemTable["Total Purchase Value"] = sortedItemTable["Total Purchase Value"].map("${:.2f}".format)

#display table
sortedItemTable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [17]:
#create a new item table sorted on Total Purchase Value in descending order 
newsortedItemTable = ItemTable.sort_values("Total Purchase Value", ascending=False)

#format columsn to proper currency format
newsortedItemTable["Item Price"] = newsortedItemTable["Item Price"].map("${:.2f}".format)
newsortedItemTable["Total Purchase Value"] = newsortedItemTable["Total Purchase Value"].map("${:.2f}".format)

#display table
newsortedItemTable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80