In [73]:
#import dependencies
import os
import csv
import pandas as pd
import numpy as np

In [74]:
#load csv file and create a pandas dataframe from it's data.
PurchaseData_file = "Resources/purchase_data.csv"
PurchaseData_df = pd.read_csv(PurchaseData_file)
# PurchaseData_df.head()

In [75]:
#Display total player count

#isolate Screen Name in to a DataFile
ScreenName_df = PurchaseData_df[["SN"]]
# ScreenName_df


#calculate amount of unique players by using x = len(DataFrame["column_name"])
UniquePlayers = len(ScreenName_df["SN"].unique())
#print(UniquePlayers)

#create a data frame with the amount of unique players listed in a column called "Total Players"
Data_Table = pd.DataFrame({"Total Players": [UniquePlayers]})
Data_Table

   Total Players
0            576

In [76]:
# Number of Unique Items
UniqueItems = len(PurchaseData_df["Item Name"].unique())
# print("Unique Items : " + str(UniqueItems))

# Average Purchase Price
AveragePurchasePrice = TotalRevenue / AmountOfPurchases
# print("Average Purchase Price : $" + str(AveragePurchasePrice))

# Total Number of Purchases
AmountOfPurchases = len(PurchaseData_df["Purchase ID"])
# print("AmountOfPurchases : " + str(AmountOfPurchases))

# Total Revenue
TotalRevenue = PurchaseData_df["Price"].sum()
# print("Total Revenue : $" + str(TotalRevenue))

#create Financials Data Frame
Financials_df = pd.DataFrame({
    "Number of Unique Items": [UniqueItems],
    "Average Price": [AveragePurchasePrice],
    "Number of Purchases": [AmountOfPurchases],
    "Total Revenue": [TotalRevenue]
    })

#format Average Price and Total Revenue columns
Financials_df["Average Price"] = Financials_df["Average Price"].map("${:.2f}".format)
Financials_df["Total Revenue"] = Financials_df["Total Revenue"].map("${:,.2f}".format)

#display the Financials summary
Financials_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77